<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Card Adventures</title>

        <!-- CSS -->
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/<%= grunt.config.get('pkg.name') %>.css">

        <!-- JS -->
        <script src="js/angular.js"></script>
        <script src="js/<%= grunt.config.get('pkg.name') %>.js"></script>
    </head>
    <body ng-controller="AppCtrl">
        <div ng-include="'header.tpl.html'"></div>
        <div ng-view></div>

        <!-- Grunt Live Reload -->
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>