# IDE and editor specific files #
#################################
/nbproject
.idea

# Dist #
########
/client/dist

# Bower Components #
####################
/client/src/bower_components
/client/node_modules


# Cache #
#########
/client/.sass-cache