// Variables
//
// Create new variables or overwrite Bootstrap vairables

// Font Card Adventure
//
// Font variables

$card-adventure-folder: '/assets/fonts/card-adventure/';

// Cards

$card-default-bg:     #fff;
$card-default-color:  $gray-dark;